.cell {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-left: solid thin #4F7085;
    border-top: solid thin #4F7085;
    background-color: #F5F6F7;
}

.cell--alive {
    background-color: #758E9E;
}